{% load static %}
<html>
<head>
    <title>Мой блог</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
</head>
<body>
    <div class="shell">
        <div class="border">
            <div id="navigation">
                <ul>
                    <li><a href="/" class="active">Главная</a></li>
                    {% if user.is_authenticated %}
                        <li>Добро пожаловать, {{ user.username }}!</li>
                        <li><a href="{% url 'logout' %}">Выход</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Вход</a></li>
                        <li><a href="{% url 'register' %}">Регистрация</a></li>
                    {% endif %}
                </ul>
            </div>
            <div id="main">
                <div id="content" class="left">
                    <div class="projects">
                        <h3>Доступные автомобили</h3>
                        {% for car in Cars %}
                            <div class="item">
                                <div class="text left">
                                    <h3><a href="{% url 'reserve_car' car.carid %}">{{ car.make }}</a></h3>
                                    <h4>{{ car.model }}</h4>
                                    <p>{{ car.year }}</p>
                                    <p>{{ car.description }}</p>
                                </div>
                                <div class="cl">&nbsp;</div>
                            </div>
                        {% empty %}
                            <p>Нет доступных автомобилей.</p>
                        {% endfor %}
                    </div>
                    <div class="contracts">
                        <h3>Ваши контракты</h3>
                        {% for contract in Contracts %}
                            <div class="item">
                                <p>Контракт на автомобиль: {{ contract.car.make }} {{ contract.car.model }}</p>
                                <p>Статус: {{ contract.created }}</p>
                                {% if contract.created != 'False' %}
                                    <form method="post" action="{% url 'close_contract' contract.contract_id %}">
                                        {% csrf_token %}
                                        <button type="submit">Закрыть контракт</button>
                                    </form>
                                {% else %}
                                    <p>Контракт закрыт.</p>
                                {% endif %}
                            </div>
                        {% empty %}
                            <p>У вас нет активных контрактов.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>